.navbar{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.menu_items{
    display: flex;
    justify-content: space-around;
    list-style-type: none
}
.menu{
    width: 50%;
}
.logo{
    height: 20vh;
}
.menu-list{
    font-size: 2.5rem;
}